html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

#mainImg{
	text-align:center;
	margin-left: 5%;
	margin-right: auto;
}

.mainArea {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	margin-left: 10%;
	margin-right: 10%;
	background-color: lavender;
	box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.75);
	border-width: 0PX;
	border-style: solid;
	border-color: lavender;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat-x;
	background-attachment: scroll;
}

.menu-container {
	position: relative;
	z-index: 10;
	height: 47px;
	overflow: visible;
	background-color: #27ae60;
	border-style: solid;
	border-width: 0PX;
	border-color: lavender;
	border: none;
	overflow: visible;
}

ul {
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	display: block;
	list-style-type: disc;
}

div.menu {
	position: relative;
	display: table;
	width: 100%;
}

ul.menu-tabs li {
	float: left;
	list-style: none;
	padding: 0;
	position: relative;
	min-height: 16PX;
}

.menu-tabs li.activelink {
	background-color: lavender;
	font-weight: normal;
	font-size: 18PX;
	color: black;
	border-width: 0PX;
	border-color: #FFFFFF;
	border-style: solid;
	border: none;
}

.menu-tabs li {
	background-color: #27ae60;
	background-position: left top;
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-image: none;
	margin: 0PX 0PX 0PX 0PX;
}

/*
font-family: nobile, sans-serif;
font-family: open-sans-condensed, sans-serif;
font-family: poiret-one, sans-serif;
font-family: lobster, serif;
font-family: jura, sans-serif;
*/

.menu-tabs li a:hover {
	background-color: lavender;
	color: black;
	border-width: 0PX;
	border-color: #FFFFFF;
	border-style: solid;
	border: none;
}

.menu-tabs li a {
	display: block;
	float: left;
	text-decoration: none;
	padding: 15PX 15PX 15PX 15PX;
	line-height: 17PX;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 20PX;
/* 	font-family: Arial, Helvetica, sans-serif; */
	font-family: jura, sans-serif;
	font-style: normal;
}

li {
	display: list-item;
}

#login-area{
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 25%;
}
#reg-area{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 100px;
	width: 25%;
}
.btn-submit {
	font-size: 30px;
	width: 100%;
	height: 10%;
	font-family: open-sans-condensed, sans-serif;
}
#register-form .btn-submit {
	margin-left: 20px;
}


#login-form .text-input {
	width: 100%;
	height: 50px;
	padding: 2px 2px 2px 2px;
	margin-bottom: 10px;
	display: block;
	font-size: 25px;
	font-family: open-sans-condensed, sans-serif;
}

#login-form label{
	font-size: 30px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: normal;	
}

#register-form label {
	font-size: 20px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: normal;
}

#register-form .text-input {
	width: 100%;
	height: 30px;
	padding: 2px 2px 2px 2px;
	margin-bottom: 10px;
	margin-left: 20px;
	display: block;
	font-size: 18px;
	font-family: open-sans-condensed, sans-serif;
}

#login, #new-client, #logout, #profile {
	float: right;
}


/* .content-area h1 { */
/* 	color: #27ae60; */
/* 	font-size: 60px; */
/* 	margin-left: 10%; */
/* 	border-bottom: solid; */
/* 	border-bottom-width: 2px; */
/* 	border-bottom-color: #27ae60; */
/* 	text-shadow: black; */
/* } */

#register-form span{
	font-weight: normal;
	color: red;
}


.content-area {
	overflow: hidden;
}
.content-area-block {
	text-align: center;
	margin: 10px 10px 10px 10px;
}

#mainImg {
	width: 1200px;
	margin-left: 0px;
}
#content {
	height: 600px;
	background-color: #b0e0e6;
}
.leftCol {
	height: 200px;
}

#leftUp {
	background-color: red;
}
#leftMid {
	background-color: black;
}
#leftDown {
	background-color: green;
}
.content-block {
	display: inline-block;
}

#left-content {
	width: 30%;
}
#main-content {
	float: right;
	width: 70%;
}
#footer {
	display: inline;
	margin-right: 10%;
	margin-left: 10%;
  position: absolute;
  bottom: 0;
  width: 80%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
#footer-info{
	font-size: 25px;
	font-family: open-sans-condensed, sans-serif;
	font-weight: normal;
	text-align: center;
}
#footer-info {
	min-height: 100%;
	width: 40%;
	background-color: #27ae60;
	float: left;
}
#social{
	float: right;
	min-height: 100%;
	width: 60%;
	background-color: #27ae60;
}
#social-icon{
	float: right;
	margin-right: 20%;
}

#profile-user-info {
	font-family: jura, sans-serif;
	font-size: 18px;
}

h3{
	font-size: 25px;
	font-family: open-sans-condensed, sans-serif;
}
.profile-label{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
	font-size: 19px;
}
.profile-p{
	margin-bottom: 0px;
}
.text-input-add {
	height: 30px;
	padding: 2px 2px 2px 2px;
	margin-bottom: 10px;
	display: block;
	font-size: 14px;
}
.star {
	color: red;
}